version: '3'

networks:
  in.net.ex:
    driver: bridge

services:
  go-storage:
    build: .
    container_name: storage-service.in.net.ex
    environment: 
      - JWT_SEED=THISISONEBYTEFORLIFE
    ports:
      - 8080:8080
    volumes:
      - ./internal/config/config.yaml:/config.yaml:ro
    depends_on:
      - storage-db
    networks:
      - in.net.ex
  # Инструкции для парсера Sbazar
  go-async-sbazar:
    build: ./GoAsyncSbazarParcer/
    container_name: sbazar-service.in.net.ex
    volumes:
      - ./GoAsyncSbazarParcer/internal/config/config.yaml:/config.yaml:ro
    depends_on:
      - go-storage
    networks:
      - in.net.ex

# Специально не пракинул Volume для комфортных тестов добавления данных.
  storage-db:
      restart: always
      image: postgres:latest
      container_name: storage-db.in.net.ex
      environment:
        - POSTGRES_DB=postgres
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=qwerty
        - PGDATA=/var/lib/postgresql/data/pgdata
      ports:
        - 5432:5432
      networks:
        - in.net.ex